<p id="notice"><%= notice %></p>

<h1>Listing Blog Entries</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog_entries.each do |blog_entry| %>
      <tr>
        <td><%= blog_entry.title %></td>
        <td><%= blog_entry.description %></td>
        <td><%= link_to 'Show', blog_entry, class: 'btn btn-primary btn-xs' %></td>
        <td><%= link_to 'Edit', edit_blog_entry_path(blog_entry), class: 'btn btn-info btn-xs'  %></td>
        <td><%= link_to 'Destroy', blog_entry, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_blog_entry_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Blog Entry
<% end %>
