
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Test project Blog Entry</a>
    </div>
  </div>
</nav>
